.grid-row {
	display:flex;
	
}
.grid-cell {
	border-collapse: collapse;
	border:1px solid #ccc;
	width:30px;
	height:30px;
	
}
.walk-here {
	
		background: url('../img/foot.png') no-repeat;
		background-size: 15px;
		background-position: center; 
}